[
  {
    "city_id": "738f28b9-bcf8-4c58-b81d-c86932b6ede4",
    "country": "Canada",
    "state_province": "Ontario",
    "city": "Pickering",
    "latitude": "43.84938414031938",
    "longitude": "-79.02603149414064",
    "notification_email": "salman.naqvi@gmail.com",
    "polygon_geojson": {
      "geometry": {
        "type": "Polygon",
        "coordinates": [
          [
            [
              -79.125843,
              43.791258
            ],
            [
              -79.163952,
              43.833623
            ],
            [
              -79.156055,
              43.895505
            ],
            [
              -79.086704,
              43.898474
            ],
            [
              -79.002686,
              43.868693
            ],
            [
              -79.035206,
              43.805879
            ],
            [
              -79.125843,
              43.791258
            ]
          ]
        ]
      },
      "properties": {},
      "type": "Feature"
    }
  },
  {
    "city_id": "f6f45cfd-d6bc-48eb-aed0-8bdec765e86f",
    "country": "Canada",
    "state_province": "British Columbia",
    "city": "Vancouver",
    "latitude": "49.2608724",
    "longitude": "-123.1139520",
    "notification_email": "salman.naqvi@gmail.com",
    "radius_meters": "20000"
  },
  {
    "city_id": "15118260-6baa-492b-af2d-07e6eac1c067",
    "country": "Canada",
    "state_province": "Ontario",
    "city": "hamilton",
    "latitude": "43.2560802",
    "longitude": "-79.8728583",
    "notification_email": "salman.naqvi@gmail.com",
    "radius_meters": "25000"
  },
  {
    "city_id": "4739bae9-b4cc-4010-b0a4-465e40af9324",
    "country": "Canada",
    "state_province": "Ontario",
    "city": "kingston",
    "latitude": "44.3054151",
    "longitude": "-76.4283781",
    "notification_email": "salman.naqvi@gmail.com",
    "radius_meters": "15000"
  },
  {
    "city_id": "94afdb7d-beb6-4e80-ba51-20c1f7630959",
    "country": "Pakistan",
    "state_province": "Punjab",
    "city": "Lahore",
    "latitude": "31.5656822",
    "longitude": "74.3141829",
    "notification_email": "salman.naqvi@gmail.com",
    "radius_meters": "40000"
  },
  {
    "city_id": "9a3c2000-1e3c-48ea-bfb2-708b32606e58",
    "country": "India",
    "state_province": "Maharashtra",
    "city": "Delhi",
    "latitude": "21.63749023831886",
    "longitude": "73.86292836978102",
    "notification_email": "salman.naqvi@gmail.com",
    "polygon_geojson": {
      "type": "Feature",
      "properties": {},
      "geometry": {
        "type": "Polygon",
        "coordinates": [
          [
            [
              73.877348,
              21.584824
            ],
            [
              73.896231,
              21.535652
            ],
            [
              73.966269,
              21.541081
            ],
            [
              73.980001,
              21.600147
            ],
            [
              73.92095,
              21.640682
            ],
            [
              73.862928,
              21.63749
            ],
            [
              73.877348,
              21.584824
            ]
          ]
        ]
      }
    }
  },
  {
    "city_id": "298814ae-69fb-4cdc-8b71-3c00e7c34c0d",
    "country": "India",
    "state_province": "Punjab",
    "city": "Jalandhar",
    "latitude": "31.336356406212253",
    "longitude": "75.57851217105053",
    "notification_email": "",
    "radius_meters": 7000.0
  }
]